<nav class="navbar navbar-light "style="background-color: #59A0BB;">
  <a class="navbar-brand" href="#">
    <img src='assets/img/logo2.png' width="50" height="50" class="d-inline-block align-top" alt="expen$es">
    
  </a>
  <span class="navbar-text">
    Login
  </span>
</nav>
<br>

<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="assets/img/control.jpg" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
          <h3 class="h3-responsive">Quieres controlar</h3>
          <p>Tus Gastos</p>
      </div>
  </mdb-carousel-item>
  
  <!--Second slide-->
  <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="assets/img/control3.jpg" alt="Second slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
          <h3 class="h3-responsive">Slight mask</h3>
          <p>Third text</p>
      </div>
  </mdb-carousel-item>
   <!--/Second slide-->
  
   <!--Third slide-->
  <mdb-carousel-item> 
   
    <div id="sign" *ngIf="createMode">
      <!-- Default form login -->
          <form class="text-center border border-light p-5" >

              <p class="h4 mb-4">Sign in</p>

              <!-- User -->
              <input type="text" id="defaultLoginFormUser" name="username" #username="ngModel" [class.is-valid]="username.valid"
              [class.is-invalid]="username.invalid" class="form-control mb-4" [(ngModel)]="newUser.username" required placeholder="Usuario">
            
              <!-- Email -->
              <input type="email" id="defaultLoginFormEmail" name="usermail" #usermail="ngModel" [class.is-valid]="usermail.valid"
              [class.is-invalid]="usermail.invalid" class="form-control mb-4" [(ngModel)]="newUser.usermail" required  placeholder="E-mail">
            
              <!-- Password -->
              <input type="password" id="defaultLoginFormPassword" name="userpassword" #userpassword="ngModel" [class.is-valid]="userpassword.valid"
              [class.is-invalid]="userpassword.invalid"  class="form-control mb-4" [(ngModel)]="newUser.userpassword" required placeholder="Password">
            
              <div class="d-flex justify-content-around">
                <div>
                  <!-- Remember me -->
                  <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
                </div>
                <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
                </div>
              </div>
            
              <!-- Sign in button -->
              <button mdbBtn color="info" block="true" class="my-4" type="submit" >Sign in</button>
            
              <!-- Register -->
              <p>Not a member?
                <a href="">Register</a>
              </p>
            
              <!-- Social login -->
              <p>or sign in with:</p>
            
              <a type="button" class="light-blue-text mx-2" >
                <!-- <i class="fa fa-facebook"></i> -->
                <mdb-icon icon="facebook"></mdb-icon>
              </a>
              
            
            </form>
  <!-- Default form login -->
           
  </div>

  </mdb-carousel-item>
  <!--/Third slide-->
 
</mdb-carousel>
<!--/.Carousel Wrapper-->
<br>
<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #59A0BB;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <!-- <div class="col-md-3 mb-md-0 mb-3"> -->

            <!-- Links -->
          <!--   <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div> -->
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://totalpcpro.com">Francisco/Victor</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->